.cta-component {
     background: $govuk-brand-colour;
     color: white;
     display: inline-block;
     width: 85%;
     text-align: left;
     padding: 1.5em 7.5%;
     &.full-width {
          width: 95%;
          padding: 1.5em 2.5%;
          margin: 3.5em 0 4em 0;
     }
     h1, h2, h3 {
          color: white;
     }
     .govuk-button {
          background: white;
          color: $govuk-brand-colour;
          margin: 0;
     }
}

hr {
     background: govuk-colour("grey-3");
     height: 2px;
     border: none;
     margin: 3em 0;
     &.no-top-margin {
          margin: 0 0 3em 0;
     }
}

.bookmarked-numbers {
     display: flex;
     align-items: center;
     justify-content: flex-start;
     margin-top: 0.5em;
     div {
     }
     .separator {
          display: inline-block;
          height: 2em;
          width: 2px;
          background: govuk-colour("grey-3");
          margin: 0 1em;
     }
}

.number {
     display: flex;
     align-items: center;
     justify-content: center;
     background: $govuk-brand-colour;
     color: white;
     font-weight: bold;
     border-radius: 50%;
     width: 2em;
     height: 2em;
     font-size: 1.2rem;
     margin: -0.25em 0.75em 0 0;
     float: left;
     &.zero {
          background: govuk-colour("grey-1");
     }
     &.provider-number {
          margin: -0.45em 0.75em 0 0;
     }
}

.new {
     span {
          background: $govuk-secondary-text-colour;
          color: white;
          border-radius: 5px;
          padding: 0.25em 0.5em;
          width: auto;
          float: left;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 0.875rem;
     }
}

ol.app-task-list {
     li {
          .app-task-list__section {
               width: 100%;
               border-bottom: 1px solid $govuk-border-colour;
               padding-bottom: 0.5em;
               font-size: 1.7rem;
               // margin-bottom: 0;
               .govuk-button {
                    float: right;
                    margin: 0;
               }
               .app-task-list__section-number {
                    display: inline-block;
               }
               .govuk-form-group {
                    float: right;
                    margin: 0 0 0 0;
                    // width: 20em;
                    .govuk-fieldset {
                         display: inline-block;
                         width: 100%;
                    }
                    .govuk-checkboxes {
                         display: inline-block;
                         width: 100%;
                    }
               }
          }
          p {
               display: inline-block;
               float: left;
               clear: both;
               margin-bottom: 7px;
          }
          .app-task-list__items {
               padding-left: 0;
               .app-task-list__task-name {
                    width: auto;
                    margin: 0.35em 0 0 0;
               }
               .govuk-form-group {
                    float: right;
                    margin: 0;
               }
          }
          .govuk-checkboxes__item, .govuk-delete-link {
               // width: 40%;
               display: inline-block;
               float: left;
               clear: none;
               font-weight: normal;
               font-size: 19px;
          }
          .govuk-checkboxes__item {
               min-height: 30px;
               padding: 0 0 0 30px;
          }
          .govuk-delete-link {
               margin: 0.5em 0 0 1em;
               padding: 0 0 0 1.5em;
               background: url('../images/delete-black.svg') no-repeat;
          }
          .govuk-checkboxes__input, .govuk-checkboxes__input + .govuk-checkboxes__label::before {
               width: 30px;
               height: 30px;
          }
          .govuk-checkboxes__input + .govuk-checkboxes__label::before {
               top: 5px;
          }
          .govuk-checkboxes__input + .govuk-checkboxes__label::after {
               top: 11px;
               left: 6px;
               width: 14px;
               height: 7px;


          }
          .postcode-search {
               background: govuk-colour("grey-3");
               display: inline-block;
               width: 90%;
               padding: 1.5em 5%;
               .govuk-form-group {
                    margin-bottom: 0;
                    #postcode-search {
                         margin-bottom: 0;
                         background: $govuk-brand-colour;
                         margin: 0 0 0 -0.3em;
                         padding: 5px 10px 0 10px;
                         span {
                              display: inline-block;
                              background: white;
                              width: 1.25em;
                              height: 1.25em;
                              background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36' width='40' height='40'%3E%3Cpath d='M25.7 24.8L21.9 21c.7-1 1.1-2.2 1.1-3.5 0-3.6-2.9-6.5-6.5-6.5S10 13.9 10 17.5s2.9 6.5 6.5 6.5c1.6 0 3-.6 4.1-1.5l3.7 3.7 1.4-1.4zM12 17.5c0-2.5 2-4.5 4.5-4.5s4.5 2 4.5 4.5-2 4.5-4.5 4.5-4.5-2-4.5-4.5z' fill='white'%3E%3C/path%3E%3C/svg%3E") $govuk-link-colour no-repeat 50% 50%;
                              background-size: 200%;
                              &.text {
                                   text-indent: -1000em;
                                   display: none;
                              }
                         }
                    }
               }
          }
     }
}

.hero-container {
     background: govuk-colour("blue");
     padding: 1.5em;
     margin: 0 0 1em 0;
     h1, h2, h3, h4 {
          margin: 0;
          color: white;
     }
     .bookmarked-numbers {
          color: white;
          .number {
               color: govuk-colour("blue");
               background: white;
          }
     }
     .icon-basket {
          background: url('../images/favourite-unchecked-white.svg') no-repeat;
          // background: url('../images/basket-full-white.svg') no-repeat;
          background-size: contain;
     }
}

.icon-basket {
     display: inline-block;
     width: 2.5em;
     height: 2.5em;
     float: left;
     margin: 0 0.5em 0 0;
     background: url('../images/favourite-unchecked-black.svg') no-repeat;
     // background: url('../images/basket-full-black.svg') no-repeat;
     background-size: contain;
}

.govuk-heading-xl {
     .icon-basket {
          width: 0.9em;
          height: 0.9em;
          margin: 0 0.25em 0 0;
     }
}

#version-1 {
     .icon-basket {
          width: 2em;
          height: 2em;
     }
     ol.app-task-list {
          li {
               background: white;
               padding: 2em;
               margin: 0 0 3em 0;
               h1, h2, h3, h4 {
                    margin-top: 0;
               }
               ul.app-task-list__items {
                    margin-bottom: 0;
                    li {
                         padding: 0.5em 0;
                         &:last-of-type {
                              border-bottom: none;
                              padding-bottom: 0;
                         }
                    }
               }
          }
     }
}

#version-2, #version-5 {
     ol.app-task-list {
          margin-top: 1em;
          &.training-provider {
               display: flex;
               flex-flow: row wrap;
               /* This aligns items to the end line on main-axis */
               justify-content: flex-start;
               li {
                    width: 26.3%;
                    margin-right: 3%;
                    &:nth-of-type(3n) {
                         margin-right: 0;
                    }
                    .app-task-list__section {
                         font-size: 1.3rem;
                         min-height: 2.5em;
                    }
                    .training-provider-content {
                         margin-top: 0;
                         text-align: left;
                         .govuk-form-group {
                              margin: 0 0 1em 0;
                         }
                         .govuk-delete-link {
                              margin-top: 0.4em;
                         }
                         .govuk-button {
                              margin: 0 0 0.75em 0;
                         }
                    }
               }
          }
          li {
               // border-bottom: 1px solid $govuk-border-colour;
               margin: 0 0 2em 0;
               // padding: 1em 0 0 0;
               background: white;
               padding: 1.5em;
               &:last-of-type {
                    border-bottom: none;
               }
               .app-task-list__section {
                    border-bottom: none;
                    margin: 0;
                    .postcode-search {
                         padding: 0;
                         background: none;
                         float: right;
                         width: auto;
                         .govuk-fieldset {
                              min-width: 10em;
                         }
                         .govuk-form-group {
                              width: 100%;
                              .govuk-button, input {
                                   float: right;
                              }
                         }
                    }
               }
               .govuk-form-group {
                    display: inline-block;
                    float: left;
                    clear: both;
                    margin: 0;
               }
               .training-provider-content {
                    text-align: right;
                    h1, h2, h3 {
                         display: inline-block;
                         margin: 0.5em 0 0 0;
                    }
                    .provider-number, .text-numbers {
                         float: right;
                    }
               }
          }
     }
     &.index-page {
          .number {
               width: 2em;
               height: 2em;
               font-size: 1.8rem !important;
               &.provider-number {

               }
          }
          p.number-container {
               display: inline-block;
               margin: 0.5em 0 0 0;
          }
          .text-numbers {
               float: left;
               // clear: both;
               display: inline-block;
               margin: 0.3em 0 1.5em 0;
          }
     }
}

#version-3, #version-5 {
     .wrapper-column {
          display: flex;
          .app-cta-box {
               width: 100%;
               @include govuk-media-query($from: tablet) {
                    width: 60%;
               }
               &:nth-of-type(2) {
                    width: 37.5%;
                    margin-left: 2.5%;
               }
          }
     }
}

#version-5 {
     ol.app-task-list {
          &.training-provider {
               li {
                    width: 100%;
                    margin-right: 0;
                    // .app-task-list__section {
                    //      width: 50%;
                    // }
                    .training-provider-content {
                         text-align: right;
                         a {
                              float: right;
                              clear: both;
                         }
                    }
                    .app-task-list__section {
                         font-size: 1.75rem;
                         min-height: auto;
                    }
                    .govuk-details {
                         margin-bottom: 0;
                    }
               }
          }
     }
}

.govuk-details {
     margin-bottom: 10px;
     .govuk-details__text {
          display: inline-block;
     }
}

.apprenticeship-content {
     display: none;
}

#compare-container {
     display: none;
     // display: inline-block;
     padding: 1.5em;
     background: govuk-colour("turquoise");
     color: white;
     position: fixed;
     left: 0;
     top: 0;
     right: 0;
     z-index: 1000;
     h1, h2, h3, h4 {
          color: white;
          margin: 0.2em 0 0 0;
          font-weight: normal;
          span {
               font-weight: bold;
          }
     }
     .govuk-button {
          background: white;
          margin: 0;
          color: govuk-colour("turquoise");
          float: right;
     }
}

// .account-content-wrapper {
//      background: govuk-colour("grey-4");
//      margin: 0 -20em;
//      padding: 0 -20em;
// }

.survey-container {
     display: inline-block;
     width: 100%;
     border-top: 1px solid $govuk-border-colour;
     padding: 3em 0 0 0;
     margin: 2em 0 0 0;
}
