
{% extends "../../layout.html" %}

{% block pageTitle %}
     Manage apprenticeships
{% endblock %}


{% block main %}
<div class="app-account-header">
     <div class="govuk-width-container">
          <div class="govuk-grid-row">
               <div class="govuk-grid-column-full">
                    <p class="govuk-body-l govuk-!-margin-bottom-0">Your employer account</p>
                    <h1 class="govuk-heading-xl govuk-!-margin-bottom-0">Assurance Aerospace Ltd</h1>
               </div>
          </div>
     </div>
</div>

{% block content %}
<div id="version-2" class="app-account-main index-page">
     <div class="govuk-width-container">
          <div class="govuk-grid-row">
               <div class="govuk-grid-column-three-fifths">
                    <div class="app-cta-box app-cta-box--main">
                         <h2 class="app-cta-box__heading">Get government funding</h2>

                         <p>
                              Lorem ipsum ex cillum id mollit labore aliquip labore incididunt dolore labore anim minim duis in officia proident consequat minim laborum ad amet proident.
                         </p>

                         <p>
                              <a href="#">Get funding now</a>
                         </p>
                    </div>
               </div>

               <div class="govuk-grid-column-two-fifths">
                    <div class="app-cta-box">
                         <h2 class="app-cta-box__heading">
                              Assurance Aerospace Ltd
                              <span class="govuk-caption-m">UKPRN: 1000000</span>
                         </h2>

                         <p>
                              Labore cupidatat eu ex dolore deserunt qui pariatur aliquip ut cupidatat sit in sunt eu commodo reprehenderit qui in ut in in aliqua.
                         </p>
                    </div>
               </div>
          </div>

          <div class="govuk-grid-row">
               <div class="govuk-grid-column-three-fifths">
                    <div class="app-cta-box">
                         <h2 class="app-cta-box__heading"><span class="icon-basket"></span>Your favourite apprenticeships and training providers</h2>

                         <div class="govuk-grid-row">
                              <div class="govuk-grid-column-one-half">
                              <p class="number-container">
                                   <span class="govuk-!-font-size-32 govuk-!-font-weight-bold number">12</span>
                                   <span class="govuk-!-font-size-16 govuk-!-font-weight-bold text-numbers">Favourite<br>apprenticeships</span>
                              </p>
                              </div>

                              <div class="govuk-grid-column-one-half">
                                   <p class="number-container">
                                        <span class="govuk-!-font-size-32 govuk-!-font-weight-bold number">5</span>
                                        <span class="govuk-!-font-size-16 govuk-!-font-weight-bold text-numbers">Favourite training<br>providers</span>
                                   </p>
                              </div>
                         </div>

                         <p>
                              <a href="shopping-basket">View my favourites</a>
                         </p>
                    </div>
               </div>

               <div class="govuk-grid-column-two-fifths">
                    <div class="app-cta-box">
                         <h2 class="app-cta-box__heading">Your account settings</h2>

                         <ul class="govuk-list">
                              <li>
                                   <a href="#">Link 1</a>
                              </li>
                              <li>
                                   <a href="#">Link 2</a>
                              </li>
                              <li>
                                   <a href="#">Link 3</a>
                              </li>
                              <li>
                                   <a href="#">Link 4</a>
                              </li>
                              <li>
                                   <a href="#">Link 5</a>
                              </li>
                         </ul>
                    </div>
               </div>
          </div>
     </div>
</div>

{% endblock %}


{% endblock %}
