
{% extends "layout.html" %}

{% block pageTitle %}
     Manage apprenticeships
{% endblock %}

{% block main %}
<div class="app-account-header">
     <div class="govuk-width-container">
          <div class="govuk-grid-row">
               <div class="govuk-grid-column-full">
                    <a href="javascript: window.history.go(-1)" class="govuk-back-link">Back</a>
                    <h1 class="govuk-heading-xl">
                         <span class="govuk-caption-xl">Your employer account</span>
                         A-Business Ltd
                    </h1>
               </div>
          </div>
     </div>
</div>

<!-- ////////////////////////// COMPARE MESSAGE - START ////////////////////////// -->
<div id="compare-container">
     <div class="govuk-width-container">
          <div class="govuk-grid-row">
               <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-m">Your comparison list contains <strong><span class="compare-number">0</span> <span class="comparison-type">comparison type</span></strong></h1>
               </div>
               <div class="govuk-grid-column-one-third">
                    <a href="#" id="view-compare" class="govuk-button">View comparison list</a>
               </div>
          </div>
     </div>
</div>
<!-- ////////////////////////// COMPARE MESSAGE - END ////////////////////////// -->

{% block content %}
<div id="version-2" class="app-account-main">

     <div class="govuk-width-container">

          <div class="hero-container">
               <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                         <h1 class="govuk-heading-l">
                              <span class="icon-basket"></span>
                              Apprenticeship: <span class="chosen-apprenticeship-name">Apprenticeship name</span>
                              <span class="govuk-caption-xl bookmarked-numbers">
                                   <div><span class="provider-number number">5</span> Training provider(s)</div>
                              </span>
                         </h1>
                    </div>
               </div>
          </div>

          <div class="govuk-grid-row">
               <div class="govuk-grid-column-full">

                    <!-- ================ CONFIRM PANEL - START ================ -->
                    <div class="success-summary" id="delete-training-provider-panel">
                         <a href="#" class="close-confirmation">close</a>
                         <h1 class="govuk-heading-l">Removal complete</h1>
                         <div class="govuk-panel__body">
                              <strong class="deleted-training-provider">HDJ2123F</strong>
                              <br>has been removed from your favourites
                         </div>
                    </div>
                    <!-- ================ CONFIRM PANEL - END ================ -->

                    <!-- <hr class="no-top-margin"> -->

                    <ol class="app-task-list training-provider">

                         <!-- ================ BASKET ITEM - 1 - START ================ -->
                         <li class="provider-one">
                              <h2 class="app-task-list__section">
                                   <span class="app-task-list__section-number">1. </span> <span class="chosen-training-provider-value">PARAGON - SKILLS FOR INDUSTRY</span>
                              </h2>

                              <div class="govuk-grid-row">
                                   <div class="govuk-grid-column-full">
                                        <details class="govuk-details">
                                             <summary class="govuk-details__summary">
                                                  <span class="govuk-details__summary-text">
                                                       Training provider details
                                                  </span>
                                             </summary>
                                             <div class="govuk-details__text">
                                                  <p>
                                                       <span class="distance"><strong>Distance:</strong> 1.1 miles away</span>
                                                       <span class="locations"><strong>3</strong> locations</span>
                                                  </p>
                                                  <p class="training-options"><strong>Training options:</strong> day release <span class="feedback no"></span> block release <span class="feedback no"></span> at your location <span class="feedback yes"></span></p>
                                                  <p><strong>Employer satisfaction:</strong> 86%</p>
                                                  <p><strong>Learner satisfaction:</strong> 91%</p>
                                                  <p><strong>Achievement rate:</strong> 65%</p>
                                             </div>
                                        </details>
                                   </div>
                                   <div class="govuk-grid-column-full training-provider-content">
                                        <div class="govuk-form-group">
                                             <fieldset class="govuk-fieldset" aria-describedby="compare-delete-apprenticeship">
                                                  <div class="govuk-checkboxes">
                                                       <div class="govuk-checkboxes__item">
                                                            <input class="govuk-checkboxes__input" id="compare-provider-1" name="compare-provider" type="checkbox" value="carcasses">
                                                            <label class="govuk-label govuk-checkboxes__label" for="compare-provider-1">
                                                                 Compare
                                                            </label>
                                                       </div>
                                                       <a href="/sprint-15/delete-provider" class="govuk-delete-link delete-training-provider" data-provider-id="1">Remove</a>
                                                  </div>
                                             </fieldset>
                                        </div>
                                        <a href="#" class="govuk-button chosen-provider">Recruit an apprentice</a>
                                        <a href="#">Manage permissions</a>
                                   </div>
                              </div>
                         </li>
                         <!-- ================ BASKET ITEM - 1 - END ================ -->

                         <!-- ================ BASKET ITEM - 2 - START ================ -->
                         <li class="provider-two">
                              <h2 class="app-task-list__section">
                                   <span class="app-task-list__section-number">2. </span> <span data-provider-id="2" class="chosen-training-provider-value">Boom Training Ltd</span>
                              </h2>

                              <div class="govuk-grid-row">
                                   <div class="govuk-grid-column-full">
                                        <details class="govuk-details">
                                             <summary class="govuk-details__summary">
                                                  <span class="govuk-details__summary-text">
                                                       Training provider details
                                                  </span>
                                             </summary>
                                             <div class="govuk-details__text">
                                                  <p>
                                                       <span class="distance"><strong>Distance:</strong> 1.1 miles away</span>
                                                       <span class="locations"><strong>3</strong> locations</span>
                                                  </p>
                                                  <p class="training-options"><strong>Training options:</strong> day release <span class="feedback no"></span> block release <span class="feedback no"></span> at your location <span class="feedback yes"></span></p>
                                                  <p><strong>Employer satisfaction:</strong> 86%</p>
                                                  <p><strong>Learner satisfaction:</strong> 91%</p>
                                                  <p><strong>Achievement rate:</strong> 65%</p>
                                             </div>
                                        </details>
                                   </div>
                                   <div class="govuk-grid-column-full training-provider-content">
                                        <div class="govuk-form-group">
                                             <fieldset class="govuk-fieldset" aria-describedby="compare-delete-apprenticeship">
                                                  <div class="govuk-checkboxes">
                                                       <div class="govuk-checkboxes__item">
                                                            <input class="govuk-checkboxes__input" id="compare-provider-2" name="compare-provider" type="checkbox" value="carcasses">
                                                            <label class="govuk-label govuk-checkboxes__label" for="compare-provider-2">
                                                                 Compare
                                                            </label>
                                                       </div>
                                                       <a href="/favourites-V1/delete-provider" class="govuk-delete-link delete-training-provider" data-provider-id="2">Remove</a>
                                                  </div>
                                             </fieldset>
                                        </div>
                                        <a href="#" class="govuk-button chosen-provider">Recruit an apprentice</a>
                                        <a href="#">Manage permissions</a>
                                   </div>
                              </div>
                         </li>
                         <!-- ================ BASKET ITEM - 2 - END ================ -->

                         <!-- ================ BASKET ITEM - 3 - START ================ -->
                         <li class="provider-three">
                              <h2 class="app-task-list__section">
                                   <span class="app-task-list__section-number">3. </span> <span data-provider-id="3" class="chosen-training-provider-value">INTEC BUSINESS COLLEGES LTD</span>
                              </h2>

                              <div class="govuk-grid-row">
                                   <div class="govuk-grid-column-full">
                                        <details class="govuk-details">
                                             <summary class="govuk-details__summary">
                                                  <span class="govuk-details__summary-text">
                                                       Training provider details
                                                  </span>
                                             </summary>
                                             <div class="govuk-details__text">
                                                  <p>
                                                       <span class="distance"><strong>Distance:</strong> 1.1 miles away</span>
                                                       <span class="locations"><strong>3</strong> locations</span>
                                                  </p>
                                                  <p class="training-options"><strong>Training options:</strong> day release <span class="feedback no"></span> block release <span class="feedback no"></span> at your location <span class="feedback yes"></span></p>
                                                  <p><strong>Employer satisfaction:</strong> 86%</p>
                                                  <p><strong>Learner satisfaction:</strong> 91%</p>
                                                  <p><strong>Achievement rate:</strong> 65%</p>
                                             </div>
                                        </details>
                                   </div>
                                   <div class="govuk-grid-column-full training-provider-content">
                                        <div class="govuk-form-group">
                                             <fieldset class="govuk-fieldset" aria-describedby="compare-delete-apprenticeship">
                                                  <div class="govuk-checkboxes">
                                                       <div class="govuk-checkboxes__item">
                                                            <input class="govuk-checkboxes__input" id="compare-provider-3" name="compare-provider" type="checkbox" value="carcasses">
                                                            <label class="govuk-label govuk-checkboxes__label" for="compare-provider-3">
                                                                 Compare
                                                            </label>
                                                       </div>
                                                       <a href="/favourites-V1/delete-provider" class="govuk-delete-link delete-training-provider" data-provider-id="3">Remove</a>
                                                  </div>
                                             </fieldset>
                                        </div>
                                        <a href="#" class="govuk-button chosen-provider">Recruit an apprentice</a>
                                        <a href="#">Manage permissions</a>
                                   </div>
                              </div>
                         </li>
                         <!-- ================ BASKET ITEM - 3 - END ================ -->

                         <!-- ================ BASKET ITEM - 4 - START ================ -->
                         <li class="provider-four">
                              <h2 class="app-task-list__section">
                                   <span class="app-task-list__section-number">4. </span> <span data-provider-id="4" class="chosen-training-provider-value">Babcock Training</span>
                              </h2>

                              <div class="govuk-grid-row">
                                   <div class="govuk-grid-column-full">
                                        <details class="govuk-details">
                                             <summary class="govuk-details__summary">
                                                  <span class="govuk-details__summary-text">
                                                       Training provider details
                                                  </span>
                                             </summary>
                                             <div class="govuk-details__text">
                                                  <p>
                                                       <span class="distance"><strong>Distance:</strong> 1.1 miles away</span>
                                                       <span class="locations"><strong>3</strong> locations</span>
                                                  </p>
                                                  <p class="training-options"><strong>Training options:</strong> day release <span class="feedback no"></span> block release <span class="feedback no"></span> at your location <span class="feedback yes"></span></p>
                                                  <p><strong>Employer satisfaction:</strong> 86%</p>
                                                  <p><strong>Learner satisfaction:</strong> 91%</p>
                                                  <p><strong>Achievement rate:</strong> 65%</p>
                                             </div>
                                        </details>
                                   </div>
                                   <div class="govuk-grid-column-full training-provider-content">
                                        <div class="govuk-form-group">
                                             <fieldset class="govuk-fieldset" aria-describedby="compare-delete-apprenticeship">
                                                  <div class="govuk-checkboxes">
                                                       <div class="govuk-checkboxes__item">
                                                            <input class="govuk-checkboxes__input" id="compare-provider-4" name="compare-provider" type="checkbox" value="carcasses">
                                                            <label class="govuk-label govuk-checkboxes__label" for="compare-provider-4">
                                                                 Compare
                                                            </label>
                                                       </div>
                                                       <a href="/favourites-V1/delete-provider" class="govuk-delete-link delete-training-provider" data-provider-id="4">Remove</a>
                                                  </div>
                                             </fieldset>
                                        </div>
                                        <a href="#" class="govuk-button chosen-provider">Recruit an apprentice</a>
                                        <a href="#">Manage permissions</a>
                                   </div>
                              </div>
                         </li>
                         <!-- ================ BASKET ITEM - 4 - END ================ -->

                         <!-- ================ BASKET ITEM - 5 - START ================ -->
                         <li class="provider-five">
                              <h2 class="app-task-list__section">
                                   <span class="app-task-list__section-number">5. </span> <span data-provider-id="5" class="chosen-training-provider-value">THE CHILDCARE COMPANY (OLD WINDSOR) LIMITED</span>
                              </h2>

                              <div class="govuk-grid-row">
                                   <div class="govuk-grid-column-full">
                                        <details class="govuk-details">
                                             <summary class="govuk-details__summary">
                                                  <span class="govuk-details__summary-text">
                                                       Training provider details
                                                  </span>
                                             </summary>
                                             <div class="govuk-details__text">
                                                  <p>
                                                       <span class="distance"><strong>Distance:</strong> 1.1 miles away</span>
                                                       <span class="locations"><strong>3</strong> locations</span>
                                                  </p>
                                                  <p class="training-options"><strong>Training options:</strong> day release <span class="feedback no"></span> block release <span class="feedback no"></span> at your location <span class="feedback yes"></span></p>
                                                  <p><strong>Employer satisfaction:</strong> 86%</p>
                                                  <p><strong>Learner satisfaction:</strong> 91%</p>
                                                  <p><strong>Achievement rate:</strong> 65%</p>
                                             </div>
                                        </details>
                                   </div>
                                   <div class="govuk-grid-column-full training-provider-content">
                                        <div class="govuk-form-group">
                                             <fieldset class="govuk-fieldset" aria-describedby="compare-delete-apprenticeship">
                                                  <div class="govuk-checkboxes">
                                                       <div class="govuk-checkboxes__item">
                                                            <input class="govuk-checkboxes__input" id="compare-provider-5" name="compare-provider" type="checkbox" value="carcasses">
                                                            <label class="govuk-label govuk-checkboxes__label" for="compare-provider-5">
                                                                 Compare
                                                            </label>
                                                       </div>
                                                       <a href="/favourites-V1/delete-provider" class="govuk-delete-link delete-training-provider" data-provider-id="5">Remove</a>
                                                  </div>
                                             </fieldset>
                                        </div>
                                        <a href="#" class="govuk-button chosen-provider">Recruit an apprentice</a>
                                        <a href="#">Manage permissions</a>
                                   </div>
                              </div>
                         </li>
                         <!-- ================ BASKET ITEM - 5 - END ================ -->

                    </ol>

               </div>

          </div>

     </div>

     <!-- <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

               <hr>

               <div class="cta-component full-width">
                    <h2 class="govuk-heading-m">Save your choices and create your gov.uk account to start hiring the future</h2>
                    <a href="#" role="button" draggable="false" class="govuk-button govuk-button--start">Hire an apprentice</a>
               </div>

          </div>

     </div> -->

</div>

{% endblock %}

{% endblock %}
