
{% extends "layout.html" %}

{% block pageTitle %}
     Manage apprenticeships
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
     <div class="govuk-grid-column-full">
          <h1 class="govuk-heading-xl">
               Employers favourites
          </h1>
     </div>
</div>

<div class="govuk-grid-row">
     <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-l" id="sprint-0">
               <span class="govuk-tag">LATEST</span><br>
                    Employer GOV.UK journey
               <span class="govuk-caption-l"><b>Sprint 17:</b> 12th June 2019 — 25th June 2019</span>
          </h2>

          <h3 class="govuk-heading-m" id="employer-journeys">
               Prototype
          </h3>

          <div class="govuk-grid-row">
               <div class="govuk-grid-column-one-half">
                    <ul class="govuk-list govuk-list--bullet">
                         <li>
                              <a href="/sprint-17/V6/index" class="journey-V5">Version 6</a>
                              <span class="govuk-caption-m">Empty shopping basket</span>
                         </li>
                         <li>
                              <a href="/sprint-17/V5/index" class="journey-V5">Version 5</a>
                              <span class="govuk-caption-m">Static version, no API intergration</span>
                         </li>
                         <li>
                              <a href="/sprint-17/V4/index" class="journey-V4">Version 4<span class="govuk-tag version-control">LATEST</span></a>
                         </li>
                         <li>
                              <a href="/sprint-17/V3/index" class="journey-V3">Version 3</a>
                         </li>
                         <li>
                              <a href="/sprint-17/V2/index" class="journey-V2">Version 2</a>
                         </li>
                         <li>
                              <a href="/sprint-17/V1/index" class="journey-V1">Version 1</a>
                         </li>
                    </ul>
               </div>

               <!-- <div class="govuk-grid-column-one-half">
                    <h4 class="govuk-heading-s">Provider journeys (v1)</h4>

                    <ul class="govuk-list govuk-list--bullet">
                         <li>
                              <b><a href="sprint-08/research/provider-v1/account-home?funding-restrictions=">Default (no restrictions)</a></b>
                         </li>
                         <li>
                              <a href="sprint-08/research/provider-v1/account-home?funding-restrictions=current-restriction">Funding restriction in place</a>
                         </li>
                         <li>
                              <a href="sprint-08/research/provider-v1/account-home?funding-restrictions=future-restriction">Upcoming funding restriction</a>
                         </li>
                         <li>
                              <a href="sprint-08/research/provider-v1/account-home?funding-restrictions=number-of-starts">Restricted to 1 reservation</a>
                         </li>
                    </ul>

               </div> -->

          </div>

          <hr class="govuk-section-break govuk-section-break--xl">

          <h2 class="govuk-heading-l">
               Previous versions
          </h2>

          <div class="govuk-accordion" data-module="accordion" id="accordion-default">

               <div class="govuk-accordion__controls">
                    <button type="button" class="govuk-accordion__open-all" aria-expanded="false">Open all<span class="govuk-visually-hidden"> sections</span></button>
               </div>

               <!-- ////////////////////////////  SECTION 5 - START //////////////////////////// -->
               <div class="govuk-accordion__section">
                    <div class="govuk-accordion__section-header">
                         <h2 class="govuk-accordion__section-heading">
                              <button type="button" id="accordion-default-heading-5" aria-controls="accordion-default-content-5" class="govuk-accordion__section-button" aria-describedby="accordion-default-summary-5" aria-expanded="false">
                                   Sprint 15
                              </button>
                              <span class="govuk-accordion__icon" aria-hidden="true"></span>
                         </h2>
                         <div class="govuk-accordion__section-summary govuk-body" id="accordion-default-summary-5">
                              15th May 2019 — 28th May 2019
                         </div>
                    </div>
                    <div id="accordion-default-content-5" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-5">
                         <div class="govuk-grid-row">
                              <div class="govuk-grid-column-one-half">
                                   <h4 class="govuk-heading-s">Favourites journeys</h4>
                                   <ul class="govuk-list govuk-list--bullet">
                                        <li>
                                             <a href="/sprint-15/V4/index" class="journey-V4">Version 4</a>
                                        </li>
                                        <li>
                                             <a href="/sprint-15/V3/index" class="journey-V3">Version 3</a>
                                        </li>
                                        <li>
                                             <a href="/sprint-15/V2/index" class="journey-V2">Version 2</a>
                                        </li>
                                        <li>
                                             <a href="/sprint-15/V1/index" class="journey-V1">Version 1</a>
                                        </li>
                                   </ul>
                              </div>
                              <div class="govuk-grid-column-one-half">

                              </div>
                         </div>
                    </div>
               </div>
               <!-- ////////////////////////////  SECTION 5 - END //////////////////////////// -->

               <!-- ////////////////////////////  SECTION 4 - START //////////////////////////// -->
               <div class="govuk-accordion__section">
                    <div class="govuk-accordion__section-header">
                         <h2 class="govuk-accordion__section-heading">
                              <button type="button" id="accordion-default-heading-4" aria-controls="accordion-default-content-4" class="govuk-accordion__section-button" aria-describedby="accordion-default-summary-4" aria-expanded="false">
                                   Sprint 14
                              </button>
                              <span class="govuk-accordion__icon" aria-hidden="true"></span>
                         </h2>
                         <div class="govuk-accordion__section-summary govuk-body" id="accordion-default-summary-4">
                              1st May 2019 — 14th May 2019
                         </div>
                    </div>
                    <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
                         <div class="govuk-grid-row">
                              <div class="govuk-grid-column-one-half">
                                   <h4 class="govuk-heading-s">Favourites journeys</h4>
                                   <ul class="govuk-list govuk-list--bullet">
                                        <li>
                                             <a href="/sprint-14/V3/index" class="journey-V3">Version 3</a>
                                        </li>

                                        <li>
                                             <a href="/sprint-14/V2/index" class="journey-V2">Version 2</a>
                                        </li>
                                        <li>
                                             <a href="/sprint-14/V1/index" class="journey-V1">Version 1</a>
                                        </li>
                                   </ul>
                              </div>
                              <div class="govuk-grid-column-one-half">

                              </div>
                         </div>
                    </div>
               </div>
               <!-- ////////////////////////////  SECTION 4 - END //////////////////////////// -->

               <!-- ////////////////////////////  SECTION 3 - START //////////////////////////// -->
               <div class="govuk-accordion__section">
                    <div class="govuk-accordion__section-header">
                         <h2 class="govuk-accordion__section-heading">
                              <button type="button" id="accordion-default-heading-3" aria-controls="accordion-default-content-3" class="govuk-accordion__section-button" aria-describedby="accordion-default-summary-3" aria-expanded="false">
                                   Sprint 13
                              </button>
                              <span class="govuk-accordion__icon" aria-hidden="true"></span>
                         </h2>
                         <div class="govuk-accordion__section-summary govuk-body" id="accordion-default-summary-3">
                              17th April 2019 — 30th April 2019
                         </div>
                    </div>
                    <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                         <div class="govuk-grid-row">
                              <div class="govuk-grid-column-one-half">
                                   <h4 class="govuk-heading-s">Favourites journeys</h4>
                                   <ul class="govuk-list govuk-list--bullet">
                                        <li>
                                             <a href="/sprint-13/V3/index" class="journey-V3">Version 3</a>
                                        </li>
                                        <li>
                                             <a href="/sprint-13/V2/index" class="journey-V2">Version 2</a>
                                        </li>
                                        <li>
                                             <a href="/sprint-13/V1/index" class="journey-V1">Version 1</a>
                                        </li>
                                   </ul>
                              </div>
                              <div class="govuk-grid-column-one-half">

                              </div>
                         </div>
                    </div>
               </div>
               <!-- ////////////////////////////  SECTION 3 - END //////////////////////////// -->

               <!-- ////////////////////////////  SECTION 2 - START //////////////////////////// -->
               <div class="govuk-accordion__section">
                    <div class="govuk-accordion__section-header">
                         <h2 class="govuk-accordion__section-heading">
                              <button type="button" id="accordion-default-heading-2" aria-controls="accordion-default-content-2" class="govuk-accordion__section-button" aria-describedby="accordion-default-summary-2" aria-expanded="false">
                                   Sprint 12
                              </button>
                              <span class="govuk-accordion__icon" aria-hidden="true"></span>
                         </h2>
                         <div class="govuk-accordion__section-summary govuk-body" id="accordion-default-summary-2">
                              3rd April — 16th April 2019
                         </div>
                    </div>
                    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                         <div class="govuk-grid-row">
                              <div class="govuk-grid-column-one-half">
                                   <h4 class="govuk-heading-s">Favourites journeys</h4>
                                   <ul class="govuk-list govuk-list--bullet">
                                        <li>
                                             <a href="/sprint-12/V2/index" class="journey-V2">Version 2</a>
                                        </li>
                                        <li>
                                             <a href="/sprint-12/V1/index" class="journey-V1">Version 1</a>
                                        </li>
                                   </ul>
                              </div>
                              <div class="govuk-grid-column-one-half">

                              </div>
                         </div>
                    </div>
               </div>
               <!-- ////////////////////////////  SECTION 2 - END //////////////////////////// -->

               <!-- ////////////////////////////  SECTION 1 - START //////////////////////////// -->
               <div class="govuk-accordion__section">
                    <div class="govuk-accordion__section-header">
                         <h2 class="govuk-accordion__section-heading">
                              <button type="button" id="accordion-default-heading-1" aria-controls="accordion-default-content-1" class="govuk-accordion__section-button" aria-describedby="accordion-default-summary-1" aria-expanded="false">
                                   Sprint 11
                              </button>
                              <span class="govuk-accordion__icon" aria-hidden="true"></span>
                         </h2>
                         <div class="govuk-accordion__section-summary govuk-body" id="accordion-default-summary-1">
                              20th March — 2nd April 2019
                         </div>
                    </div>
                    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                         <div class="govuk-grid-row">
                              <div class="govuk-grid-column-one-half">
                                   <h4 class="govuk-heading-s">Favourites journeys</h4>
                                   <ul class="govuk-list govuk-list--bullet">
                                        <li>
                                             <a href="/sprint-11/V2/index" class="journey-V2">Version 2</a>
                                        </li>
                                        <li>
                                             <a href="/sprint-11/V1/index" class="journey-V1">Version 1</a>
                                        </li>
                                   </ul>
                              </div>
                              <div class="govuk-grid-column-one-half">

                              </div>
                         </div>
                    </div>
               </div>
               <!-- ////////////////////////////  SECTION 1 - END //////////////////////////// -->

          </div>

     </div>

</div>

{% endblock %}
