
{% extends "layout.html" %}

{% block pageTitle %}
  ESFA - Shopping basket
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
     <div class="govuk-grid-column-full">
          <h1 class="govuk-heading-xl">
               Employers favourites
          </h1>
     </div>
</div>

<div class="govuk-grid-row">
     <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-l" id="sprint-0">
               <span class="govuk-tag">LATEST</span><br>
                    Employer GOV.UK journey
               <span class="govuk-caption-l">20th March 2019 — 2nd April 2019</span>
          </h2>

          <h3 class="govuk-heading-m" id="employer-journeys">
               Prototype
          </h3>

          <div class="govuk-grid-row">
               <div class="govuk-grid-column-one-half">
                    <ul class="govuk-list govuk-list--bullet">
                         <li>
                              <a href="/favourites-V1/V1/index" class="journey-V1">Version 1</a>
                         </li>
                         <li>
                              <a href="/favourites-V1/V2/index" class="journey-V2">Version 2</a>
                         </li>
                    </ul>
               </div>

               <!-- <div class="govuk-grid-column-one-half">
                    <h4 class="govuk-heading-s">Provider journeys (v1)</h4>

                    <ul class="govuk-list govuk-list--bullet">
                         <li>
                              <b><a href="sprint-08/research/provider-v1/account-home?funding-restrictions=">Default (no restrictions)</a></b>
                         </li>
                         <li>
                              <a href="sprint-08/research/provider-v1/account-home?funding-restrictions=current-restriction">Funding restriction in place</a>
                         </li>
                         <li>
                              <a href="sprint-08/research/provider-v1/account-home?funding-restrictions=future-restriction">Upcoming funding restriction</a>
                         </li>
                         <li>
                              <a href="sprint-08/research/provider-v1/account-home?funding-restrictions=number-of-starts">Restricted to 1 reservation</a>
                         </li>
                    </ul>

               </div> -->

          </div>

          <!-- <hr class="govuk-section-break govuk-section-break--xl"> -->

          <!-- <h2 class="govuk-heading-l">
               Previous versions
          </h2> -->

          <!-- <div class="govuk-accordion" data-module="accordion" id="accordion-default">

               <div class="govuk-accordion__controls">
                    <button type="button" class="govuk-accordion__open-all" aria-expanded="false">Open all<span class="govuk-visually-hidden"> sections</span></button>
               </div>

               <div class="govuk-accordion__section">
                    <div class="govuk-accordion__section-header">
                         <h2 class="govuk-accordion__section-heading">
                              <button type="button" id="accordion-default-heading-1" aria-controls="accordion-default-content-1" class="govuk-accordion__section-button" aria-describedby="accordion-default-summary-1" aria-expanded="false">
                                   Sprint 7
                              </button>
                              <span class="govuk-accordion__icon" aria-hidden="true"></span>
                         </h2>

                         <div class="govuk-accordion__section-summary govuk-body" id="accordion-default-summary-1">
                              11th March—22nd March 2019
                         </div>

                    </div>
                    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

                         <h3 class="govuk-heading-m" id="employer-journeys">Research</h3>

                         <div class="govuk-grid-row">
                              <div class="govuk-grid-column-one-half">
                                   <h4 class="govuk-heading-s">Employer journeys</h4>

                                   <ul class="govuk-list govuk-list--bullet">
                                        <li>
                                             <b><a href="sprint-07/research/employer/account-home?funding-restrictions=">Default (no restrictions)</a></b>
                                        </li>
                                        <li>
                                             <a href="sprint-07/research/employer/account-home?funding-restrictions=current-restriction">Funding restriction in place</a>
                                        </li>
                                        <li>
                                             <a href="sprint-07/research/employer/account-home?funding-restrictions=future-restriction">Upcoming funding restriction</a>
                                        </li>
                                        <li>
                                             <a href="sprint-07/research/employer/account-home?funding-restrictions=number-of-starts">Restricted to 1 reservation</a>
                                        </li>
                                   </ul>
                              </div>

                              <div class="govuk-grid-column-one-half">
                                   <h4 class="govuk-heading-s">Provider journeys (v1)</h4>

                                   <ul class="govuk-list govuk-list--bullet">
                                        <li>
                                             <b><a href="sprint-07/research/provider-v1/account-home?funding-restrictions=">Default (no restrictions)</a></b>
                                        </li>
                                        <li>
                                             <a href="sprint-07/research/provider-v1/account-home?funding-restrictions=current-restriction">Funding restriction in place</a>
                                        </li>
                                        <li>
                                             <a href="sprint-07/research/provider-v1/account-home?funding-restrictions=future-restriction">Upcoming funding restriction</a>
                                        </li>
                                        <li>
                                             <a href="sprint-07/research/provider-v1/account-home?funding-restrictions=number-of-starts">Restricted to 1 reservation</a>
                                        </li>
                                   </ul>

                              </div>

                         </div>

                    </div>
               </div>

          </div> -->

     </div>

</div>

{% endblock %}
